{% extends "base.html" %}

{% block style %}
    <style>
        .title {
            margin-top: 20px;
        }

        .table th, td {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="title">
        <span style="color: #2e6da4"> 云平台管理 &gt; IDC管理</span>
        <hr>
        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#idcModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新建
        </button>
    </div>
    <div class="table-responsive" style="margin-top: 30px">
        <table class="table table-hover table-bordered">
            <caption>IDC列表</caption>
            <thead>
            <tr class="info">
                <th>id</th>
                <th>idc</th>
                <th>regionId</th>
                <th>地区</th>
                <th>负责人</th>
                <th>创建时间</th>
            </tr>
            </thead>
            <tbody>
            {% for item in idc_obj %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.idc }}</td>
                    <td>{{ item.regionId }}</td>
                    <td>{{ item.area }}</td>
                    <td>{{ item.owner }}</td>
                    <td>{{ item.create_time | date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block modal %}
    <!-- 添加IDC模态框开始 -->
    <div class="modal fade" id="idcModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新建IDC</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="idc" class="col-sm-2 control-label">IDC</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="idc" name="idc" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="regionId" class="col-sm-2 control-label">regionId</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="regionId" name="regionId" required
                                       autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="area" class="col-sm-2 control-label">地区</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="area" name="area" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="owner" class="col-sm-2 control-label">负责人</label>
                            <div class="col-sm-6">
                                <select class="col-sm-2 form-control" id="owner_selecter" name="owner" required
                                        autofocus>
                                    {% if owner_obj %}
                                        {% for item in owner_obj %}
                                            <option value="{{ item.id }}">{{ item.username }}</option>
                                        {% endfor %}
                                    {% else %}
                                        <input type="text" class="form-control" id="owner" name="owner" required
                                               autofocus style="display: inline">
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary save" role="button">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框结束 -->
{% endblock %}

<!-- JS部分-->
{% block JavaScripts %}
    <script>

        function ShowInfo(status, data) {
            var $div = $('<div id="myAlert" class="alert alert-success" style="margin-left: 50px">');
            var $a = $('<a href="#" class="close" data-dismiss="alert">&times;</a>');
            if (data == "success") {
                var $text = $('<strong>成功！</strong>' + "IDC新建成功。");
            } else {
                var $text = $('<strong>失败！</strong>' + "IDC创建失败，请检查!");
            }
            var $ele = $div.append($a).after($text);
            $(".title button").appendTo($ele);
        }


        function Push_idc_data() {
            $(".modal-footer .save").click(function () {
                var data = [];
                $(".form-group :input").each(function () {
                    {#                    console.log($(this).val());#}
                    if ($(this).val() == "") {
                        var $info = $(this).parent('div').prev("label").text();
                        {#                        console.log($info);#}
                        var $ele = $("<span>");
                        $ele.text($info + "不能为空").css({"color": "red", "marginLeft": "20", "display": "inline"});
                        $(this).parent(".col-sm-6").after($ele);
                        return false
                    } else {
                        data.push($.trim($(this).val()));
                    }
                });
                for (var i = 0; i < data.length; i++) {
                    var owner_id = data.pop();
                    var area = data.pop();
                    var regionId = data.pop();
                    var idc = data.pop();
                }
                console.log(idc, regionId, area, owner_id);
                $.ajax({
                    url: "/host/idcmanage/",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "idc": idc,
                        "regionId": regionId,
                        "area": area,
                        "owner_id": owner_id,
                        "csrfmiddlewaretoken": "{{ csrf_token }}"
                    },
                    success: function (result) {
                        if (result.status) {
                            ShowInfo(result.status, result.data);   // 显示结果函数
                            window.location.reload();
                        } else {
                            ShowInfo(result.status, result.data);   // 显示结果函数
                            window.location.reload();
                        }
                    }
                })
            })
        }

        Push_idc_data();
    </script>
{% endblock %}