{% extends "base.html" %}

{% block style %}
    <style>
        .table th, td {
            text-align: center;
            vertical-align: middle;
        }

        .title .error_info {
            color: firebrick;
            margin-left: 500px;
        }

        .pool .custompage {
            text-align: center;
            margin-top: 100px;
        }
    </style>
{% endblock %}


{% block content %}
    <!-- 内容区 -->
    <div class="pool" style="margin-top: 20px">
        <div class="title">
            <span style="color: #2e6da4"> 云平台管理 &gt; 资源池</span>
            <span class="error_info">{{ error_info }}</span>
        </div>
        <hr/>
        {#        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addHost">#}
        {#            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新建#}
        {#        </button>#}
        <a href="{% url 'addhost' %}" class="btn btn-success btn-sm" role="button">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新建</a>
        <!-- 添加主机模态框 -->
        <div class="modal fade" id="addHost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            新建主机
                        </h4>
                    </div>
                    <div class="modal-body">
                        <!-- 主机数据提交 -->
                        <form action="/host/addhost/" class="form-horizontal" method="post">
                            {% csrf_token %}
                            <!-- 业务线选择 -->
                            <div class="form-group">
                                <label for="services_line" class="col-sm-2 control-label">业务线</label>
                                <div class="col-sm-6">
                                    <select class="col-sm-2 form-control" id="service_selector" name="service" required
                                            autofocus>
                                        {% for item in service_li %}
                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}
                                    </select>
                                    {#<input type="text" class="form-control" id="services_line" name="service">#}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="hostname" class="col-sm-2 control-label">主机名</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="hostname" name="hostname">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="private_ip" class="col-sm-2 control-label">内网IP</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="private_ip" name="private_ip">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="public_ip" class="col-sm-2 control-label">公网IP</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="public_ip" name="public_ip">
                                </div>
                            </div>
                            <!-- IDC选择 -->
                            <div class="form-group">
                                <label for="idc" class="col-sm-2 control-label">IDC</label>
                                <div class="col-sm-6">
                                    <select class="col-sm-2 form-control" id="idc_selector" name="idc" required
                                            autofocus>
                                        {% for item in idc_li %}
                                            <option value="{{ item.id }}">{{ item.idc }}</option>
                                        {% endfor %}
                                    </select>
                                    {# <input type="text" class="form-control" id="idc" name="idc"> #}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="os" class="col-sm-2 control-label">OS</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="os" name="os">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cpu" class="col-sm-2 control-label">cpu</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="cpu" name="cpu">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="mem" class="col-sm-2 control-label">mem</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="mem" name="mem">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="disk" class="col-sm-2 control-label">disk</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" id="disk" name="disk">
                                </div>
                            </div>
                            <!-- 主机状态-->
                            <div class="form-group">
                                <label for="status_selector" class="col-sm-2 control-label">status</label>
                                <div class="col-sm-6">
                                    <select class="col-sm-2 form-control" id="status_selector" name="status" required
                                            autofocus>
                                        {% for item in status_li %}
                                            <option value="{{ item.id }}">{{ item.status }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="owner" class="col-sm-2 control-label">负责人</label>
                                <div class="col-sm-6">
                                    {#                                    <input type="text" class="form-control" id="owner" name="owner">#}
                                    <select class="col-sm-2 form-control" id="owner_selector" name="owner" required
                                            autofocus>
                                        {% for item in owner_li %}
                                            <option value="{{ item.id }}">{{ item.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary"> 保存</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal"> 取消</button>
                            </div>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
        <!-- 添加主机模态框结束 -->
        <!-- 主机信息 -->
        <div class="row" style="margin-top: 25px;margin-bottom: 10px">
            <div class="col-md-2" id="search_btn">
                <button type="button" class="btn btn-default">全选</button>
                <button type="button" class="btn btn-primary btn-default">反选</button>
                <button type="button" class="btn btn-danger">取消</button>
            </div>
            <div class="col-md-2 col-md-offset-8">
                <form class="form-inline">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="search" name="query_ip">
                        <button class="btn btn-primary searchbtn">search</button>
                    </div>
                </form>
            </div>
        </div>
        {#主机展示#}
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="active info">
                    <th>#</th>
                    <th>id</th>
                    <th>业务线</th>
                    <th>主机名</th>
                    <th>内网IP</th>
                    <th>公网IP</th>
                    <th>IDC</th>
                    <th>OS</th>
                    <th>cpu</th>
                    <th>mem</th>
                    <th>disk</th>
                    <th>status</th>
                    <th>负责人</th>
                    <th>更新时间</th>
                    <th>操作</th>
                    {#                    <th>备注</th>#}
                </tr>
                </thead>
                <tbody>
                {% for host in host_obj %}
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td class="id">{{ host.id }}</td>
                        <td class="id">{{ host.service__name }}</td>
                        <td class="id">{{ host.hostname }}</td>
                        <td class="id">{{ host.private_ip }}</td>
                        <td class="id">{{ host.public_ip }}</td>
                        <td class="id">{{ host.idc__idc }}</td>
                        <td class="id">{{ host.os }}</td>
                        <td class="id">{{ host.cpu }}</td>
                        <td class="id">{{ host.mem }}</td>
                        <td class="id">{{ host.disk }}</td>
                        <td class="id">{{ host.status__status }}</td>
                        <td class="id">{{ host.owner__username }}</td>
                        <td class="id">{{ host.update_time | date }}</td>
                        <td>
                            <button id="{{ host.id }}" type="button" class="btn btn-info btn-sm modify"
                                    data-toggle="modal"
                                    data-target="#modifydata"> 编辑
                            </button>
                            <button id="{{ host.id }}" type="button" class="btn btn-danger btn-sm delete"
                                    data-toggle="modal"
                                    data-target="#delModal"> 删除
                            </button>
                            <button type="button" class="btn btn-primary btn-sm"> 查看</button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {% comment %}
            <!-- 修改主机模态框开始-->
            <div class="modal fade" id="modifydata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                修改主机
                            </h4>
                        </div>
                        <div class="modal-body">
                            <!-- 主机数据提交 -->
                            <form id="modifydata" class="form-horizontal">
                                <div class="form-group">
                                    <label for="id" class="col-sm-2 control-label">id</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="id" name="id" readonly>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="service_line" class="col-sm-2 control-label">业务线</label>
                                    <div class="col-sm-6">
                                        <select class="col-sm-2 form-control" id="service_line" name="service" required
                                                autofocus>
                                            {% for item in service_li %}
                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                            {% endfor %}
                                        </select>
                                        {#<input type="text" class="form-control" id="services_line" name="service">#}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="hostname" class="col-sm-2 control-label">主机名</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="hostname" name="hostname">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="private_ip" class="col-sm-2 control-label">内网IP</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="private_ip" name="private_ip">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="public_ip" class="col-sm-2 control-label">公网IP</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="public_ip" name="public_ip">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="idc_select" class="col-sm-2 control-label">IDC</label>
                                    <div class="col-sm-6">
                                        <select class="col-sm-2 form-control" id="idc_select" name="idc" required
                                                required>
                                            {% for item in idc_li %}
                                                <option value="{{ item.id }}">{{ item.idc }}</option>
                                            {% endfor %}
                                        </select>
                                        {# <input type="text" class="form-control" id="idc" name="idc"> #}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="os" class="col-sm-2 control-label">OS</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="os" name="os">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cpu" class="col-sm-2 control-label">cpu</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="cpu" name="cpu">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="mem" class="col-sm-2 control-label">mem</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="mem" name="mem">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="disk" class="col-sm-2 control-label">disk</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="disk" name="disk">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="status_selector" class="col-sm-2 control-label">status</label>
                                    <div class="col-sm-6">
                                        <select class="col-sm-2 form-control" id="status_selector" name="status"
                                                required
                                                autofocus>
                                            {% for item in status_li %}
                                                <option value="{{ item.id }}">{{ item.status }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="owner" class="col-sm-2 control-label">负责人</label>
                                    <div class="col-sm-6">
                                        <select class="col-sm-2 form-control" id="owner_selector" name="owner" required
                                                autofocus>
                                            {% for item in owner_li %}
                                                <option value="{{ item.id }}">{{ item.username }}</option>
                                            {% endfor %}
                                        </select>
                                        {#                                        <input type="text" class="form-control" id="owner" name="owner">#}
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary save">保存</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                </div>
                            </form>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <!-- 修改主机模态框结束 -->
            {% endcomment %}

            <!-- 信息删除确认模态框开始 -->
            <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog">
                    <div class="modal-content message_align">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">×</span></button>
                            <h4 class="modal-title">提示信息</h4>
                        </div>
                        <div class="modal-body">
                            <p>您确认要删除吗？</p>
                        </div>
                        <div class="modal-footer">
                            <input type="hidden" id="url"/>
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button class="btn btn-success confirm" role="button">确定</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 信息删除确认模态框结束  -->

        </div>
        <!-- django分页 -->
        {% comment %}
        <div class="container">
            <nav aria-label="Page navigation" class="text-center">
                <ul class="pagination">
                    {% if contacts.has_previous %}
                        <li>
                            <a href="/host/resources/?page={{ contacts.prievious_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span aria-hidden="true">上一页</span>
                            </a>
                        </li>
                    {% endif %}

                    {% for pg in contacts.paginator.page_range %}
                        {% if contacts.number == pg %}
                            <li class="active"><a href="/host/resources/?page={{ pg }}">{{ pg }}</a></li>
                        {% else %}
                            <li><a href="/host/resources/?page={{ pg }}">{{ pg }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if contacts.has_next %}
                        <li>
                            <a href="/host/resources/?page={{ contacts.number }}" aria-level="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span aria-hidden="true">下一页</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% endcomment %}
        {#        <div class="page">#}
        {#            {{ page_str | safe }}#}
        {#        </div>#}
        {#自定义分页#}
        {% if host_obj %}
            <div class="custompage">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {{ page_str | safe }}
                    </ul>
                </nav>
            </div>
        {% endif %}

    </div>
{% endblock %}



<!-- JS部分 -->
{% block JavaScripts %}
    <script>
        // 全选
        function SelectAll() {
            $('#search_btn button').first().click(function () {
                    console.log($("input[type='checkbox']"));
                    $("input[type='checkbox']").each(function () {
                        $(this).prop('checked', true);
                    })
                }
            )
        }

        // 反选
        function InvertSelect() {
            $('#search_btn button').eq(1).click(function () {
                    $("input[type='checkbox']").each(function () {
                        var $status = $(this).prop('checked');
                        {#                    console.log($status);#}
                        if ($status) {
                            $(this).prop('checked', false);
                        } else {
                            $(this).prop('checked', true);
                        }
                    })
                }
            )
        }

        // 取消
        function CancelSelect() {
            $('#search_btn button').last().click(function () {
                $("input[type='checkbox']").each(function () {
                    var $status = $(this).prop('checked');
                    if ($status) {
                        $(this).prop('checked', false);
                    }
                })
            })
        }

        // 删除
        function Deleterow() {
            $('.delete').click(function () {
                var id = $(this).prop('id');
                {#                // 点击确定删除#}
                $("#delModal .modal-footer .confirm").click(function () {
                    location.href = "{% url "deletehost" %}?hid=" + id;
                })
            })
        }

        // 修改
        function ModifyRowData() {
            $(".modify").click(function () {
                var id = $(this).prop('id');
                {#                console.log("/host/edithost/" + id); #}
                location.href = "/host/edithost/" + id;
            })
        }

        // 查询
        function SearchInfo() {
            $('button.searchbtn').click(function () {
                var val = $(this).prev('input').val();
                if (val) {
{#                    location.href = "{% url 'queryip' %}?query=" + val;#}
                } else {
                    console.log("query is null");
                }
            })
        }

        SelectAll();
        InvertSelect();
        CancelSelect();
        Deleterow();
        ModifyRowData();
        SearchInfo();
    </script>
{% endblock %}