{% extends "base.html" %}

{% block style %}
    <style>
        .title {
            margin-top: 20px;
        }

        .table th, td {
            text-align: center;
        }

        .error {
            color: firebrick;
            line-height: 34px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="title">
        <span style="color: #2e6da4"> 系统管理 &gt; 角色管理</span>
        <hr>
        <button type="button" class="btn btn-success btn-sm new" data-toggle="modal" data-target="#serviceModal">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新建
        </button>
    </div>
    <div class="table-responsive" style="margin-top: 30px">
        <table class="table table-hover table-bordered">
            <thead>
            <tr class="info">
                <th>id</th>
                <th>角色名称</th>
                <th>权限</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for item in role_obj %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td><a href="{% url "rolemanage" %}?role_id={{ item.id }}">{{ item.rolename }}</a></td>
                    <td>{{ item.permissions }}</td>
                    <td>{{ item.update_time | date }}</td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm modify" data-toggle="modal"
                                data-target="#modifydata"> 编辑
                        </button>
                        <button type="button" class="btn btn-danger btn-sm delete"> 删除</button>
                        <button type="button" class="btn btn-primary btn-sm"> 查看</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block modal %}
    <!-- 添加角色模态框开始 -->
    <div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新建角色</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="roleform">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">角色名称</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="name" name="rolename" placeholder="角色名称"
                                       required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="permissions" class="col-sm-2 control-label">权限</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="permissions" name="permissions"
                                       placeholder="权限">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary save" role="button">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框结束 -->
{% endblock %}

<!-- JS部分-->
{% block JavaScripts %}
    <script>
        // 提交角色数据
        function PushRoleData() {
            $(".modal-footer .save").click(function () {
                $("#roleform span.error").remove();
                $.ajax({
                    url: "{% url "rolemanage" %}",
                    type: "POST",
                    dataType: "json",
                    data: $('#roleform').serialize(),
                    success: function (result) {
                        if (result.status) {
                            location.href = "{% url 'rolemanage' %}";
                        } else {
                            $.each(result.msg, function (k, v) {
                                console.log(result.msg);
                                var $tag = $("<span>");
                                $tag.html(v[0]);
                                $tag.addClass("error");
                                console.log($tag);
                                $("#roleform input[name='" + k + "']").parent('div').after($tag);
                            })
                        }
                    }
                })
            })
        }
        PushRoleData();
    </script>
{% endblock %}